.footer-container {
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 15px;
  margin-top: 1%;
  width: 40%;
  height: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 50;
  bottom: 0;
  -webkit-box-shadow: -4px 6px 20px -8px rgba(59, 59, 59, 1);
  -moz-box-shadow: -4px 6px 20px -8px rgba(59, 59, 59, 1);
  box-shadow: -4px 6px 20px -8px rgba(59, 59, 59, 1);
}

.footer-contents-icon {
  font-size: 30px;
  color: rgb(84, 80, 80);
}

.footer-contents-p {
  margin: 0px;
  font-size: small;
  font-family: sans-serif;
  color: rgb(166, 160, 160);
}
